td img{
	width: 100px;
	height: 100px;
}
.input-group-addon{
	float:left;
	height: 30px;
}
.quantity{
	float: left;
	height: 30px;
	text-align: center;
}
.foot{
	width: 40%;
	min-height: 100px;
	margin: 0 auto
}
