.header{
	margin: 20px 100px;
	min-height: 150px;
}
.header img{
	float: left;
	width: 25%;
}
.header h1{
	float: left;
	padding-top: 50px;
	font-size: 40px;
}
.header-right{
	margin-top: 70px;
}
.header-right ul{
	display: inline-block;
	padding-left: 60px;
}
.header-right ul li{
	padding-right: 30px;
	font-size: 18px;
	font-style: italic;
}
.header-right ul li a{
	font-size: 18px;
	color: #425094;
}
.navbar{
	width: 90%;
	margin:0 auto;
	background-color: #e6e0e0;
}
.slide img{
	width: 100%;
	height: 100%;
}
.index{
	width: 90%;
	margin:50px auto;
}
.index-inner{
	width: 100%;
	height: 700px;
}
.noibat{
	width: 85%;
	min-height: 300px;
	margin:30px auto;
}
.footer{
	border-top: 1px solid;
	height: 100px;
}
.name, .price{
	text-align: center;
	font-size: 16px;
}
.price{
	font-weight: bold;
}
.name{
	color: red;
}
h4{
	text-align: center;
	font-size: 30px;
	padding-top: 20px;
}
a:hover{
	text-decoration: none;
	color: black;
}
a{
	color: black;
}
h3{
	margin-left: 150px;
}
.page{
	width: 200px;
}
.select{
	float: left;
	margin: 20px 50px 20px 10px;
}
.paginate{
	width: 70%;
	margin: 0 auto;
}
.page1{
	margin-left: 300px;
}
.filter{
	margin-top: 25px;
}
.cart_icon{
	font-size: 20px;
	color: white;
	background-color: green;
	padding:10px;
	border-radius: 3px;
	margin-left: 55px;
}
